<!-- templates/callback.html -->
{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">Заказать обратный звонок</h3>
                <p class="text-center text-muted">Оставьте ваши данные, и наш менеджер перезвонит вам в течение 15 минут.</p>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}

                    <div data-mdb-input-init class="form-outline mb-4">
                        {{ form.name(class="form-control") }}
                        {{ form.name.label(class="form-label") }}
                    </div>
                    {% for error in form.name.errors %}
                        <div class="alert alert-danger p-1">{{ error }}</div>
                    {% endfor %}

                    <div data-mdb-input-init class="form-outline mb-4">
                        {{ form.phone(class="form-control") }}
                        {{ form.phone.label(class="form-label") }}
                    </div>
                    {% for error in form.phone.errors %}
                        <div class="alert alert-danger p-1">{{ error }}</div>
                    {% endfor %}

                    {{ form.submit(class="btn btn-primary btn-block mb-4") }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}