{% extends "base.html" %}

{% block content %}
    <div class="text-center my-5">
        <h1 class="display-4">Стильная мебель для вашего дома</h1>
        <p class="lead">Создайте уют с нашей коллекцией современной и классической мебели.</p>
    </div>
    <hr>
    <h3 class="mb-4 text-center">Популярные модели</h3>
    <div class="row product-row">
        {% for product in products %}
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card product-card">
                <div class="card-img-wrapper">
                    <img src="{{ url_for('static', filename='images/' + product.image_file) }}" class="card-img-top" alt="{{ product.name }}">
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ url_for('product_detail', product_id=product.id) }}">{{ product.name }}</a>
                    </h5>
                    <div class="card-price">{{ "%.2f"|format(product.price) }} ₽</div>
                </div>
                <div class="card-footer text-center">
                    <form action="{{ url_for('add_to_cart', product_id=product.id) }}" method="POST">
                        <input type="hidden" name="quantity" value="1">
                        <button type="submit" class="btn btn-primary w-100">В корзину</button>
                    </form>
                </div>
            </div>
        </div>
        {% else %}
            <p>Товары пока не добавлены.</p>
        {% endfor %}
    </div>
{% endblock %}