{% extends "form_wrapper.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">Регистрация</h3>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}

                    <div data-mdb-input-init class="form-outline mb-4">
                        {{ form.username(class="form-control") }}
                        {{ form.username.label(class="form-label") }}
                    </div>
                    {% for error in form.username.errors %}
                        <div class="alert alert-danger p-1">{{ error }}</div>
                    {% endfor %}

                    <div data-mdb-input-init class="form-outline mb-4">
                        {{ form.email(class="form-control") }}
                        {{ form.email.label(class="form-label") }}
                    </div>
                    {% for error in form.email.errors %}
                        <div class="alert alert-danger p-1">{{ error }}</div>
                    {% endfor %}

                    <div data-mdb-input-init class="form-outline mb-4">
                        {{ form.password(class="form-control") }}
                        {{ form.password.label(class="form-label") }}
                    </div>
                    {% for error in form.password.errors %}
                        <div class="alert alert-danger p-1">{{ error }}</div>
                    {% endfor %}

                    <div data-mdb-input-init class="form-outline mb-4">
                        {{ form.password2(class="form-control") }}
                        {{ form.password2.label(class="form-label") }}
                    </div>
                    {% for error in form.password2.errors %}
                        <div class="alert alert-danger p-1">{{ error }}</div>
                    {% endfor %}

                    {{ form.submit(class="btn btn-primary btn-block mb-4") }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}